// Button
.btn {
  background-color: #2fa85f;
  border-color: #2fa85f;
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;

  box-shadow: none;
  color: white;
  font-size: 18px;
  font-weight: medium;
  margin: 1em;
  max-width: fit-content;
  width: 100%;

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0);
    color: #2fa85f;
  }

  // Primary
  &--primary {
    text-transform: uppercase;
  }

  // Secondary
  &--secondary {
    background-color: rgba($color: #000000, $alpha: 0);
    color: #2fa85f;

    &:hover {
      background-color: #2fa85f;
      color: white;
    }
  }

  // Flat-top
  &--flat-top {
    border-radius: 0px 0px 16px 16px;
  }

  // Flat-bottom
  &--flat-bottom {
    border-radius: 16px 16px 0px 0px;
  }

  // Large
  &--large {
    font-size: 36px;
    max-width: 250px;
    text-transform: uppercase;
  }

  // Corner
  &--lower-left-corner {
    border-radius: 0px 16px 0px 0px;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: width 0.4s ease-in;
    width: 100%;

    &:hover {
      transition: width 0.4s ease-in;
      width: 200% !important;
    }
  }
}
